# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Dataset
dataset*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Environment files
.env
venv/
*.env

# System-specific
Thumbs.db
